---
import ImportantStar from "../assets/schedule/star.svg";

interface Props {
    eventData: {
        title: string;
        time: string;
        description: string;
        tags: string[];
    };
}

const { eventData } = Astro.props;

const rotDeg = Math.random() * 360
---
<div class="flex flex-col gap-3 bg-[#ffffff0F] rounded-2xl p-5 min-w-96 max-w-108 h-64 relative">
    {
        eventData.tags.includes("important") &&
        <div class="w-10 h-10 absolute right-95 bottom-150">
            <ImportantStar style={`transform: scale(0.15) rotate(${rotDeg}deg)`} />
        </div>
    }

    {
        eventData.tags.includes("important") &&
        <div class="w-10 h-10 absolute right-95 bottom-150">
            <ImportantStar class="important-star" style={`animation: star-animation ${Math.random() * (5-2+1) + 2}s ease-in-out infinite; transform: scale(0.15) rotate(${rotDeg}deg)`} />
        </div>
    }

    <h2 class="text-2xl font-bold text-left leading-relaxed">{eventData.title}</h2>
    <h2 class="text-xl font-bold text-left leading-relaxed">{eventData.time}</h2>
    <p>{eventData.description}</p>
    <div class="flex-grow"></div>
    <div class="flex flex-row gap-3 justify-self-end">
        {
            eventData.tags.map((tag) => (
                <div class="max-w-xs border-1 border-white rounded-full p-3 font-bold">
                    <h2>{tag}</h2>
                </div>
            )
        )}
    </div>
</div>

<style>
    @keyframes star-animation
    {
        0%
        {
            opacity: 0%;
        }

        50%
        {
            opacity: 100%;
        }

        100%
        {
            opacity: 0%;
        }
    }

    .important-star
    {
        filter: blur(100px);
        mix-blend-mode: hard-light;
    }
</style>